<div class="search-container">
	<form action="#">
	  <input type="search" class="search-container__input" placeholder="Search this site..."/>
	  <input type="button" class="search-container__submit"/>
	</form>
</div>